#DB details
DB_HOST= < HostAddress>
DB_PORT= < PortNumber>
DB_NAME= <DbName>
DB_USER= <DbUser>
DB_PASSWORD= <DbPassword>

#JWT
SECRET_KEY= <your-secret-key-here>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

#OpenRouter
OPENROUTER_API_KEY= <your-openrouter-api-key-here>
OPENROUTER_BASE_URL= https://openrouter.ai/api/v1
OPENROUTER_MODEL= google/gemma-4-31b-it:free
